<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Safranin Sound 2001-2009</title>
	<meta property="og:title" content="Safranin Sound" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://safraninsound.com" />
	<meta property="og:image" content="http://safraninsound.com/images/safraninsound.jpg" />
	<meta property="og:description" content="Washington DC area label focusing on shoegaze, psych, and dream pop 2001-2009" />
	<meta name="description" content="Washington DC area label focusing on shoegaze, psych, and dream pop 2001-2009">

	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

	<link href='https://fonts.googleapis.com/css?family=Rubik:400,900,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

</head>
